.fast-search__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 24px;
}

.fast-search__link {
  display: block;
  padding: 11px 10px;
  text-decoration: none;
  color: #343a3f;
  background-color: #f4f4f4;
  border-radius: 8px;
}

.fast-search__text {
  display: block;
  position: relative;
  margin-left: 30px;

  &:before {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("");
  }
}
